{% extends 'base.html' %}
{% block body %}
<div class="container my-3">
    <h2>Update your ToDo</h2>
    <form method="POST" action="/update/{{todo.sno}}">
        <div class="mb-3">
            <label for="add" class="form-label"> Todo Tilte</label>
            <input type="text" class="form-control" value="{{todo.title}}" name="tilte" id="add" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="des" class="form-label">Description</label>
            <input type="text" class="form-control" value="{{todo.desc}}" name="desc" id="des">
        </div>
        <button type="submit" class="btn btn-primary btn-dark">Update</button>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
{% endblock body %}